
.wikitable {
  background-color:var(--background-color-neutral-subtle,#f8f9fa);
  color:var(--color-base,#202122);
  margin:1em 0;
  border:1px solid var(--border-color-base,#a2a9b1);
  border-collapse:collapse;
  width: 300px;
}


.toc-container {
  border: 1px solid #a2a9b1;
  border-radius: 4px;
  padding: 15px;
  margin: 20px 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  width: 30%
}

.toc-title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eaecf0;
}

.toc-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.toc-item {
  margin: 3px 0;
}

.toc-link {
  text-decoration: none;
  font-size: 14px;
  display: block;
  padding: 2px 0;
}

.toc-link:hover {
  text-decoration: underline;
}


.toc-number {
  margin-right: 5px;
}

/* Indentation for subsections */
.toc-level-2 {
  margin-left: 15px;
}

.toc-level-3 {
  margin-left: 30px;
}

.sidebar {
  flex: 1;
  padding: 1.5rem;
  height: fit-content;
  width: 20%;
  display: inline-block;
  position: absolute;
  left: 75%;
  z-index: 1;
}
p, a {
  z-index: 2;
  position: relative;
  width: 75%;
  font-family: system-ui, sans-serif;
}
.block-image {
  width: 100px;
  height: 100px;
  margin: 0 auto 1rem;
  image-rendering: pixelated;
  border: 1px solid #a2a9b1;
}

.wikititle{
  font-family: system-ui, sans-serif;
}

.block-image > img {
  width: 100px;
  height: 100px;

}

.other-image {
  border: 1px solid #a2a9b1;
  width: 20vw;
  height: auto;
}
.other-image > img {
  width: 20vw;
  height: auto;
}

.info-table {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 1px solid #eaecf0;
  border: 1px solid #a2a9b1;
  margin-bottom: 1rem;
}

.info-table th,
.info-table td {
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
}

.info-table th {
  font-weight: bold;
}

.info-table tr:nth-child(even) {
}


.menutitle {
  font-size: 0.85rem;

}

.main1 {
  padding-right: 5px;
  padding-left: 1px;
  padding-top: 10px;
  padding-bottom: 2px;
}
.item {
  background-size: cover;
  background-repeat: no-repeat;
  height: 30px; 
  width:30px; 
  display: block;
  cursor: default;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 2rem; 
}

main {
  max-width: 900px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  line-height: 1.2;
  font-family: system-ui, sans-serif;
}

ul {
  padding-left: 2rem;
}

section {
  margin-block: 2rem;
}

.links a {
  display: inline-block;
  margin-right: 1rem;
}

details {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0.75rem 1rem;
  margin-block: 0.5rem;
}

summary {
  cursor: pointer;
  font-weight: 600;
}
